.*
!.gitignore
!.github
!.editorconfig
*- Copy*
* copy.*
Thumbs.db
/[Bb]uild
/build-*
/out
/CMakeSettings.json
/SimCoupe-*
/build_*
/Demos

# Circle bare-metal build artifacts
*.d
*.o
*.elf
*.img
*.lst
*.map
config.h
Extern/fmt
Extern/libspectrum
Extern/z80
